html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

html {
    height: 100%;
}

body {
    padding: 0 10vw;
    min-height: 100%;
    background-color: var(--clr-bg);
}

* {
    user-select: none;
    box-sizing: border-box;
    color: var(--clr-text);
}

:root {
    --clr-text: rgb(224, 224, 224);
    --clr-fg: rgb(87, 87, 87);
    --clr-bg: rgb(61, 61, 61);
    --clr-active: rgb(146, 146, 146);
}

section {
    margin: 20px 0;
}

#status {
    font-size: 45px;
    margin: 30px 0;
}

#heading {
    position: relative;
    text-align: center;
    padding-top: 30px;
}

#heading svg {
    position: absolute;
    width: 20vmin;
    height: 20vmin;
    min-width: 100px;
    min-height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: var(--clr-text);
    z-index: -1;
    opacity: 0.3;
}

#lockHead {
    transition: transform 400ms ease-in-out;
}

#password {
    display: flex;
    justify-content: center;
    align-items: center;
}

#passwordLabel {
    font-weight: bold;
    font-size: 18px;
}

#passwordInput {
    margin: 0 15px;
    padding: 3px 5px;
    border-radius: 6px;
    outline: none;
    appearance: none;
    background-color: var(--clr-bg);
    border: 1px solid var(--clr-fg);
    height: 36px;
    font-size: 18px;
    transition: border 400ms ease-in-out;
}
#passwordInput:focus {
    border: 1px solid var(--clr-active);
}

#eyeWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#eyeWrapper svg {
    width: 20px;
    height: 20px;
    fill: var(--clr-active);
}

#files {
    border-radius: 16px;
    border: 2px dashed darkgray;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    min-width: 250px;

    transition: all 400ms ease-in-out;
}

#files:hover {
    background-color: var(--clr-fg);
}

#fileZone {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    cursor: pointer;
}

#filePlaceholder svg {
    width: 100px;
    height: 100px;
    fill: var(--clr-active);
    stroke: rgb(114, 114, 114);
    stroke-width: 3px;
}

#fileHint {
    font-size: 16px;
    text-align: center;
    margin: 10px 20px;
}

#options {
    display: flex;
    justify-content: center;
    align-items: center;
}

#options span {
    font-size: 16px;
    width: 100px;
    font-weight: 300;
}

#encrypt {
    text-align: right;
}

#decrypt {
    text-align: left;
}

#switch {
    width: 60px;
    height: 30px;
    border-radius: 15px;
    background-color: var(--clr-fg);
    display: flex;
    align-items: center;
    padding: 0 3px;
    margin: 0 18px;
    cursor: pointer;
    position: relative;
}

#switch:hover #switchCircle {
    background-color: var(--clr-text);
}

#switchCircle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--clr-active);
    left: 0;
    transition: all 400ms ease-in-out;
}

/* Dynamic class */
.mode-activated {
    font-weight: bold !important;
}

.switch-right {
    transform: translate(30px);
}

.lock-open {
    transform: translate(-83%, -50%) rotateY(-180deg) !important;
}
